[submodule "gcu_objects"]
	path = gcu_objects
	url = https://github.com/personalrobotics/gcu_objects.git
[submodule "rsl_rl"]
	path = rsl_rl
	url = https://github.com/kaikwan/rsl_rl.git
[submodule "Packing-3D-RL"]
	path = Packing-3D-RL
	url = https://github.com/kaikwan/Packing-3D-RL.git
